@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@layer base{

    /**
    * Typography
    */

    *,
    *::before,
    *::after {
        @apply m-0 p-0;
    }

    html {
        @apply m-0 p-0 overflow-x-hidden overflow-y-auto;
        font-size: 100%;
        scroll-behavior: auto;
    }

    body {
        @apply m-0 p-0 text-base font-body text-body font-normal relative bg-white antialiased;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    p {
        @apply text-base text-body font-normal font-body;

        &.lead {
            @apply text-xl;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    address,
    pre,
    menu,
    ol,
    ul,
    table,
    dl,
    hr {
        @apply m-0 mb-4;

        &:last-child {
            @apply mb-0;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-heading font-display;
        word-break: break-word;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-lg;
    }

    h6 {
        @apply text-sm;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        & a {
        @apply text-inherit;
        }
    }

    a{
        @apply no-underline transition-all duration-500;
        &:focus, &:active{
            @apply no-underline;
        }
    }

    p{
        a{
            @apply underline text-inherit hover:text-primary;
        }
    }

    ol,
    ul {
        @apply pl-[18px];
    }
    ul {
        @apply list-disc;
    }
    ol {
        @apply list-decimal;
    }
    dl {
        dt {
            @apply font-medium;
        }
    }
    blockquote {
        @apply p-4 bg-grey border-l-4 text-xl border-primary rounded;
        p {
            @apply text-xl;
        }
    }
    code {
        @apply font-mono bg-grey px-1 rounded;
    }
    pre {
        @apply max-h-[500px] max-w-full 
        overflow-x-auto overflow-y-auto p-4 bg-grey rounded;
    }
    table {
        @apply w-full border border-collapse table-auto;
        th {
            @apply bg-grey;
        }
        th,
        td {
            @apply border p-2;
        }
    }

    /**
    * Form Styles
    */
    input,
    button,
    select,
    textarea {
        @apply rounded bg-transparent border transition w-full text-body px-4 placeholder:text-body placeholder:text-opacity-50;
        &:focus,
        &:active {
            @apply outline-none border-primary;
        }
    }
    textarea{
        @apply min-h-[150px] py-4;
    }
    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
        -webkit-appearance: button;
    }
    label{
        @apply font-medium text-sm;
    }

    input:not([type="checkbox"], [type="radio"]),
    select,
    button {
        @apply h-10 px-4;
    }

    input[type="radio"]{
        @apply hidden;

        & ~ label, & + label{
            @apply relative pl-7;

            &::before, &::after{
                content: '';
                @apply bg-transparent absolute left-0 -top-0.5 h-5 w-5 transition-all rounded-full cursor-pointer;
            }

            &::before{
                @apply border-3 border-border;
            }

            &::after{
                @apply border border-transparent animate-none;
            }
        }
        &:checked{
            & ~ label{
                &::before{
                    @apply bg-white border-primary border-6;
                }
                &::after{
                    @apply animate-ping border-primary;
                    animation-iteration-count: 1;
                }
            }
        }
    }

    input[type="checkbox"]{
        @apply hidden;

        & ~ label, & + label{
            @apply relative pl-11;

            &::before, &::after{
                content: '';
                @apply bg-transparent absolute left-0 -top-0.5 transition-all rounded-full cursor-pointer;
            }

            &::before{
                @apply h-5 w-9 bg-grey;
            }

            &::after{
                @apply h-4 w-4 left-0.5 top-0 bg-white;
            }
        }
        &:checked{
            & ~ label{
                &::before{
                    @apply bg-primary;
                }
                &::after{
                    @apply bg-white left-[18px];
                }
            }
        }
    }

    input[type="file"]{
        @apply px-0 cursor-pointer border-none block w-full text-sm file:cursor-pointer
        file:h-10 file:mr-4 file:py-2 file:px-4
        file:rounded-full file:border-0
        file:text-sm file:font-medium
        file:bg-primary file:bg-opacity-10 file:text-primary
    }
}

@layer utilities{
    .fiximage{
        & > *{
            vertical-align: middle;
        }
    }
}